src/HNHB.WebService/Service References/cityAQIService/AirWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AirStationHours">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="begintime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endtime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AirStationHoursResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AirStationHoursResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AirWords">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="begintime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AirWordsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AirWordsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AirCityForecastart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="begintime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AirCityForecastartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AirCityForecastartResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AirCityHours">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="begintime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endtime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AirCityHoursResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AirCityHoursResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AirAwsHours">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="begintime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endtime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AirAwsHoursResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AirAwsHoursResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AirStationHoursSoapIn">
    <wsdl:part name="parameters" element="tns:AirStationHours" />
  </wsdl:message>
  <wsdl:message name="AirStationHoursSoapOut">
    <wsdl:part name="parameters" element="tns:AirStationHoursResponse" />
  </wsdl:message>
  <wsdl:message name="AirWordsSoapIn">
    <wsdl:part name="parameters" element="tns:AirWords" />
  </wsdl:message>
  <wsdl:message name="AirWordsSoapOut">
    <wsdl:part name="parameters" element="tns:AirWordsResponse" />
  </wsdl:message>
  <wsdl:message name="AirCityForecastartSoapIn">
    <wsdl:part name="parameters" element="tns:AirCityForecastart" />
  </wsdl:message>
  <wsdl:message name="AirCityForecastartSoapOut">
    <wsdl:part name="parameters" element="tns:AirCityForecastartResponse" />
  </wsdl:message>
  <wsdl:message name="AirCityHoursSoapIn">
    <wsdl:part name="parameters" element="tns:AirCityHours" />
  </wsdl:message>
  <wsdl:message name="AirCityHoursSoapOut">
    <wsdl:part name="parameters" element="tns:AirCityHoursResponse" />
  </wsdl:message>
  <wsdl:message name="AirAwsHoursSoapIn">
    <wsdl:part name="parameters" element="tns:AirAwsHours" />
  </wsdl:message>
  <wsdl:message name="AirAwsHoursSoapOut">
    <wsdl:part name="parameters" element="tns:AirAwsHoursResponse" />
  </wsdl:message>
  <wsdl:portType name="AirWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AirStationHours">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">站点小时数据</wsdl:documentation>
      <wsdl:input message="tns:AirStationHoursSoapIn" />
      <wsdl:output message="tns:AirStationHoursSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AirWords">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">区域预报文字内容</wsdl:documentation>
      <wsdl:input message="tns:AirWordsSoapIn" />
      <wsdl:output message="tns:AirWordsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AirCityForecastart">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">城市预报</wsdl:documentation>
      <wsdl:input message="tns:AirCityForecastartSoapIn" />
      <wsdl:output message="tns:AirCityForecastartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AirCityHours">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">城市小时数据</wsdl:documentation>
      <wsdl:input message="tns:AirCityHoursSoapIn" />
      <wsdl:output message="tns:AirCityHoursSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AirAwsHours">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">气象城市小时数据</wsdl:documentation>
      <wsdl:input message="tns:AirAwsHoursSoapIn" />
      <wsdl:output message="tns:AirAwsHoursSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AirWebServiceSoap" type="tns:AirWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AirStationHours">
      <soap:operation soapAction="http://tempuri.org/AirStationHours" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AirWords">
      <soap:operation soapAction="http://tempuri.org/AirWords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AirCityForecastart">
      <soap:operation soapAction="http://tempuri.org/AirCityForecastart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AirCityHours">
      <soap:operation soapAction="http://tempuri.org/AirCityHours" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AirAwsHours">
      <soap:operation soapAction="http://tempuri.org/AirAwsHours" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AirWebServiceSoap12" type="tns:AirWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AirStationHours">
      <soap12:operation soapAction="http://tempuri.org/AirStationHours" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AirWords">
      <soap12:operation soapAction="http://tempuri.org/AirWords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AirCityForecastart">
      <soap12:operation soapAction="http://tempuri.org/AirCityForecastart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AirCityHours">
      <soap12:operation soapAction="http://tempuri.org/AirCityHours" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AirAwsHours">
      <soap12:operation soapAction="http://tempuri.org/AirAwsHours" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AirWebService">
    <wsdl:port name="AirWebServiceSoap" binding="tns:AirWebServiceSoap">
      <soap:address location="http://172.30.17.72:8009/AirWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AirWebServiceSoap12" binding="tns:AirWebServiceSoap12">
      <soap12:address location="http://172.30.17.72:8009/AirWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>